<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="lanka.meeting.app">

    <application
        android:name="lanka.meeting.app.Meetly"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="LockedOrientationActivity">

        <activity
            android:name="lanka.meeting.app.activity.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="lanka.meeting.app.activity.AppIntroActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="lanka.meeting.app.activity.AuthenticationActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="lanka.meeting.app.activity.MainActivity"
            android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data
                    android:host="@string/app_deep_link_domain"
                    android:scheme="https"/>
            </intent-filter>
        </activity>

        <activity
            android:name="lanka.meeting.app.activity.MeetingHistoryActivity"
            android:parentActivityName="lanka.meeting.app.activity.MainActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="lanka.meeting.app.activity.FaqsActivity"
            android:parentActivityName="lanka.meeting.app.activity.MainActivity"
            android:screenOrientation="portrait" />

        <!-- Admob -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/admob_app_id" />
    </application>

</manifest>